@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=Playball&display=swap');

:root{
    --color-primary-font: #efe3c2;
    --color-secondary-font: #123524;
    --color-incio-bg: #123524;
    --color-inicio-primary: #85a947;
    --color-inicio-secondary: #3e7b27;  
}

body{
    margin: 0;
    color: var(--color-primary-font);
    background-color: var(--color-incio-bg);
}

.pantalla-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.oculto{
    display: none;
}

#pantalla-inicio{
    background-image: url('../assets/bginicio.jpg');
    background-size: cover;
    background-position: center;

}

.titulo{
    font-family: 'Playball', cursive;
    font-size: 7.5rem;
    margin-bottom: 0rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.subtitulo{
    font-family: 'Oregano', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.boton-juego{
    padding: 15px 30px;
    font-family: 'Playball', cursive;
    font-size: 2.5rem;
    color: var(--color-secondary-font);
    background-color: var(--color-inicio-primary);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.boton-juego:hover{
    background-color: var(--color-inicio-secondary);
    transform: scale(1.05);
    color: var(--color-primary-font);
}
